@model ForumSystemDTO.ViewModels.AdminModels.SearchUser
@{
    int usersCount = this.Model.Users.Count;
}


<div class="basic-form">
    <div id="basic-form-title">Hello Admin!</div>
    <div id="basic-form-subtitle">Choose variable to search by and then enter a value.</div>
    <div class="validation-error-message">
        @if (this.ViewData["ErrorMessage"] is not null)
        {
            <p>@this.ViewData["ErrorMessage"]</p>
        }
    </div>

    <form asp-controller="Admin" asp-action="SearchUser" method="post">

        <div id="user-search-dropdown">
            <div class="dropdown-select" tabindex="1">
                <input asp-for="SearchOption" class="dropdown-selectopt" id="opt1" value="Username" type="radio" name="SearchOption" checked>
                <label for="opt1" class="dropdown-opt-label">Username</label>

                <input asp-for="SearchOption" class="dropdown-selectopt" id="opt2" value="FirstName" type="radio" name="SearchOption">
                <label for="opt2" class="dropdown-opt-label">First name</label>

                <input asp-for="SearchOption" class="dropdown-selectopt" id="opt3" value="Email" type="radio" name="SearchOption">
                <label for="opt3" class="dropdown-opt-label">Email</label>
            </div>
        </div>

        <div class="input-container">
            <input asp-for="SearchOptionValue" class="basic-form-input" type="text" placeholder=" " />
            <span asp-validation-for="SearchOptionValue" class="validation-error-message"></span><br>
            <div class="cut cut-short"></div>
            <label asp-for="SearchOptionValue" class="placeholder">Value</label>
        </div>
        <div>
            <button type="submit" class="basic-form-submit">Search</button>
        </div>
    </form>
</div>

@if (this.Model.SearchOptionValue is not null)
{

    @if (usersCount > 0)
    {

        <div class="labeled-table-container">
            <div id="button-label-row">
                <h2 class="table-label">Results of your search.</h2>
            </div>


            <table class="custom-table">
                <thead class="custom-table">
                    <tr class="custom-table">
                        <th>FirstName</th>
                        <th>LastName</th>
                        <th>Username</th>
                        <th>Email</th>
                        <th>PhoneNumber</th>
                        <th>Posts</th>
                        <th>Comments</th>
                        <th>Created</th>
                        <th>Rolе</th>
                        <th>Edit</th>
                        <th><div>Block</div><div>UnBlock</div></th>
                        <th>Delete</th>

                    </tr>
                </thead>
                <tbody class="custom-table">
                    @foreach (var user in Model.Users)
                    {
                        <tr>
                            <td>@user.FirstName</td>
                            <td>@user.LastName</td>
                            <td class="table-hyperlink"><a asp-controller="User" asp-action="UserDetails" asp-route-id="@user.Id">@user.Username</a></td>
                            <td>@user.Email</td>
                            <td>
                                @(
                                    user.PhoneNumber is not null ? user.PhoneNumber : "No phone number yet."
                                    )
                            </td>
                            <td>
                                @(
                                    user.Posts.Count > 0 ? user.Posts.Count.ToString() : "No posts yet."
                                    )
                            </td>
                            <td>
                                @(
                                    user.Comments.Count > 0 ? user.Comments.Count.ToString() : "No comments yet."
                                    )
                            </td>
                            <td>@user.CreatedOn</td>
                            <td>
                                @if (user.RoleId==2)
                                {
                                    <span>Active</span>
                                }
                                else if (user.RoleId == 1)
                                {
                                    <span>Blocked</span>
                                }
                                else
                                {
                                    <span>Admin</span>
                                }
                            </td>
                            <td>
                                <div class="button-container">
                                    <a asp-controller="User" asp-action="EditUser" asp-route-Id="@user.Id" class="button-normal">Edit</a>
                                </div>
                            </td>
                            <td>
                                @if (user.RoleId==2)
                                {
                                    <div class="button-container">
                                        <a asp-controller="Admin" asp-action="BlockUser" asp-route-Id="@user.Id" class="button-normal">Block</a>
                                    </div>
                                }
                                else if (user.RoleId==1)
                                {
                                    <div class="button-container">
                                        <a asp-controller="Admin" asp-action="UnBlockUser" asp-route-Id="@user.Id" class="button-normal">UnBlock</a>
                                    </div>
                                }
                                else
                                {
                                        <span>Admin</span>
                                }

                            </td>
                            <td>
                                <div class="button-container">
                                    <a asp-controller="User" asp-action="DeleteUser" asp-route-Id="@user.Id" class="button-normal">Delete</a>
                                </div>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>

        </div>
    }
    else
    {
        <div class="labeled-table-container">
            <div id="button-label-row">
                <h2 class="table-label">No results.</h2>
            </div>
        </div>
    }

}
