@model ForumSystem.DataAccess.Models.User;

<h2>@this.Model.Username</h2>

<p class="margin12">First Name: @this.Model.FirstName</p>
<p class="margin12">Last Name: @this.Model.LastName</p>
<p class="margin12">Phone Number: @this.Model.PhoneNumber</p>
<p class="margin12">Total Comments: @this.Model.Comments.Count</p>
<p class="margin12">Total Likes: @this.Model.Likes.Count</p>

<button class="button">
    <a asp-controller="User" asp-action="EditUser" asp-route-Id="@Model.Id">Edit</a>
</button>
