@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model ForumSystem.DataAccess.Models.Post;
@using ForumSystem.DataAccess.Models

<!DOCTYPE html>
<html lang="en">
<head>
    <link href="~/css/StyleSheet.css" rel="stylesheet" type="text/css" media="screen" runat="server" />
    <meta charset="utf-8">
    <title>BlockieTalkie</title>
    <style>
        table {
            padding: 10px;
            width: 100%;
            border-radius: 10px;
            box-shadow: 0px 0px 15px 2px chartreuse;
        }

        th, td {
            padding: 8px;
            text-align: center;
            border: 1px solid #ccc;
        }

        th {
            background-color: #f2f2f2;
        }
    </style>
</head>

<body>
    <section>
        <nav>
            <ul class="menuItems">
                <li>
                    <a href='#'>
                        <div class="imageBox">
                            <div>
                                <img href='#' src="~/images/cubehome.png" class="cubeImage">
                            </div>
                            <div id="hoverImg">
                                <img href='#' src="~/images/cubepink.png" class="cubeImage">
                            </div>
                        </div>
                    </a>
                </li>
                <li><a href='#' data-item='About'>About</a></li>
                <li><a style="margin-right:10px;" href='#' data-item='Register'>Register</a></li>
                <li><a href='#' data-item='Login'>Login</a></li>
            </ul>
        </nav>
    </section>

    <div class="body-content">
        @if (ViewBag.IsAuthorDetail)
        {
            <h2>@this.Model.User.Username</h2>
            <!-- Display author-specific details here -->

            <p class="margin12">First Name: @this.Model.User.FirstName</p>
            <p class="margin12">Last Name: @this.Model.User.LastName</p>
            <p class="margin12">Role: @this.Model.User.Role.Name</p>
        }
        else
        {
            <h2>@this.Model.Title</h2>

            <p class="margin12">Created By: @this.Model.User.Username</p>
            <p class="margin12">Created On: @this.Model.CreatedOn</p>
            <p class="margin12">Likes: @this.Model.Likes.Count</p>
            <p class="margin12">Tags: @(Model.Tags.Any() ? string.Join(", ", Model.Tags) : "none")</p>

            <h3>Content: @this.Model.Content</h3>

            <h4>Comments</h4>

            @if (this.Model.Comments.Count == 0)
            {
                <p>
                    <i>No comments</i>
                </p>
            }
            else
            {
                <ul>
                    @foreach (var comment in this.Model.Comments)
                    {
                        @if (comment.User != null)
                        {
                            <li class="margin12">@comment.User.Username: @comment.Content</li>
                        }
                    }
                </ul>
            }
        }
    </div>

    <footer>
        <small>© Copyright @DateTime.Now.Year, BlockieTalkie</small>
    </footer>

</body>
</html>