@model ForumSystemDTO.ViewModels.HomeViewModels.HomePageViewModel;

<div class="user-post-info">
	<h2>Our forum is growing up already <span>@Model.UsersCount</span> users are registered and <span>@Model.PostsCount</span> posts are created! </h2>
</div>

<div class="labeled-table-container">
	<div id="button-label-row">
		<h2 class="table-label">Top 10 Most Commented Posts</h2>
		<div id="create-post-button"> @*Това мисля, че е ненужно вече*@
			<a asp-controller="Post" asp-action="Create" class="button-normal">Create Post</a>
		</div>
	</div>
	@if (Model.TopCommentedPosts != null && Model.TopCommentedPosts.Count > 0)
	{

		@*<div class="border-shadow">*@
		<table class="custom-table">
			<thead class="custom-table">
				<tr class="custom-table">
					<th>Title</th>
					<th>Author</th>
					<th>Comments</th>
					<th>Created On</th>
					<th>Likes</th>
					<th>Tags</th>
				</tr>
			</thead>
			<tbody class="custom-table">
				@foreach (var item in Model.TopCommentedPosts)
				{
					<tr>
						<td class="table-hyperlink"><a asp-controller="Post" asp-action="PostDetails" asp-route-id="@item.Id">@item.Title</a></td>
						<td class="table-hyperlink"><a asp-controller="User" asp-action="UserDetails" asp-route-id="@item.UserId">@item.User.Username</a></td>
						<td>@item.Comments.Count</td>
						<td>@item.CreatedOn</td>
						<td>@item.Likes.Count</td>
						<td>@(item.Tags.Any() ? string.Join(", ", item.Tags.Select(pt => pt.Tag.Name)) : "none")</td>
					</tr>
				}
			</tbody>
		</table>
		@*</div>*@
	}
	else
	{
		<p>No elements in the list.</p>
	}
</div>

<div class="labeled-table-container">
	<h2 class="table-label">Top 10 Recently Created Posts</h2>
	@if (Model.RecentlyCreatedPosts != null && Model.RecentlyCreatedPosts.Count > 0)
	{
		@*<div class="border-shadow">*@
		<table class="custom-table">
			<thead class="custom-table">
				<tr class="custom-table">
					<th>Title</th>
					<th>Author</th>
					<th>Comments</th>
					<th>Created On</th>
					<th>Likes</th>
					<th>Tags</th>
				</tr>
			</thead>
			<tbody>
				@foreach (var item in Model.RecentlyCreatedPosts)
				{
					<tr>
						@*<td class="table-hyperlink"><a href="@Url.Action("Details", "Home", new { id = item.Id })">@item.Title</a></td>*@
						<td class="table-hyperlink"><a asp-controller="Post" asp-action="PostDetails" asp-route-id="@item.Id">@item.Title</a></td>
						<td class="table-hyperlink"><a asp-controller="User" asp-action="UserDetails" asp-route-id="@item.UserId">@item.User.Username</a></td>
						<td>@item.Comments.Count</td>
						<td>@item.CreatedOn</td>
						<td>@item.Likes.Count</td>
						<td>@(item.Tags.Any() ? string.Join(", ", item.Tags.Select(pt => pt.Tag.Name)) : "none")</td>
					</tr>
				}
			</tbody>
		</table>
		@*</div>*@
	}
	else
	{
		<p>No elements in the list.</p>
	}
</div>

<div class="button-container">
	<a asp-controller="Post" asp-action="Index" class="button-normal">View All Posts</a>
</div>