@model ForumSystem.Web.ViewModels.HomeViewModels.HomePageViewModel;
<!DOCTYPE html>

<html>
<head>
    <link href="~/css/StyleSheet.css" rel="stylesheet" type="text/css" media="screen" runat="server" />
    <meta charset="utf-8">
    <title>BlockieTalkie</title>
</head>

<body>
    <section>
        <nav>
			<ul class="menuItems">
				<li><a href='#'> <div class="imageBox">
  <div>
    <img href='#' src="~/images/cubehome.png" class="cubeImage">
  </div>
  <div id="hoverImg">
    <img href='#' src="~/images/cubepink.png" class="cubeImage">
  </div>
</div></a></li>
                <li><a href='#' data-item='About'>About</a></li>
                <li><a href='#' data-item='Register'>Register</a></li>
                <li><a href='#' data-item='Login'>Login</a></li>
            </ul>
        </nav>
    </section>
    <div>
        <h2>Users Count: @Model.UsersCount</h2>

        <h2>Posts Count: @Model.PostsCount</h2>
    </div>

    <h2>Top 10 Most Commented Posts</h2>
    @if (Model.TopCommentedPosts != null && Model.TopCommentedPosts.Count > 0)
    {
        <ul>
            @foreach (var item in Model.TopCommentedPosts)
            {
                <li>
                    <strong>Author:</strong> @item.User.Username <br>
                    <strong>Comment Count:</strong> @item.Comments.Count <br>
                    <strong>Content:</strong> @item.Content <br>
                    <strong>Likes:</strong> @item.Likes.Count <br>
                    <strong>Tags:</strong> @(item.Tags.Any() ? string.Join(", ", item.Tags) : "none")
                </li>
            }
        </ul>
    }
    else
    {
        <p>No elements in the list.</p>
    }

    <h2>Top 10 Recently Created Posts</h2>
    @if (Model.RecentlyCreatedPosts != null && Model.RecentlyCreatedPosts.Count > 0)
    {
        <ul>
            @foreach (var item in Model.RecentlyCreatedPosts)
            {
                <li>
                    <strong>Author:</strong> @item.User.Username <br>
                    <strong>Content:</strong> @item.Content <br>
                    <strong>Created On:</strong> @item.CreatedOn <br>
                    <strong>Likes:</strong> @item.Likes.Count <br>
                    <strong>Tags:</strong> @(item.Tags.Any() ? string.Join(", ", item.Tags) : "none")
                </li>
            }
        </ul>
    }
    else
    {
        <p>No elements in the list.</p>
    }

    <footer>
    </footer>
</body>
</html> 