@model ForumSystemDTO.ViewModels.PostViewModels.PostDetailsViewModel;

@{
	bool isAuthenticated = !string.IsNullOrEmpty(Context.Session.GetString("LoggedUser"));
	bool isLoggedUserPost = Context.Session.GetInt32("userId") == Model.User.Id;
	//TODO: Проверка за блокиран.
}

<div class="body-content">

	<h2>@Model.Title</h2>
	<p>Created By: <a asp-controller="User" asp-action="UserDetails" asp-route-id="@Model.User.Id">@Model.CreatedBy</a></p>
	<p>Created On: @Model.CreatedOn</p>
	<p>Likes: @Model.LikesCount</p>
	<p>Tags: @(Model.Tags.Any() ? string.Join(", ", Model.Tags) : "none")</p>

	<h3>Content: @Model.Content</h3>

	@if (isLoggedUserPost)
	{
		<form asp-controller="Post" asp-action="Delete" asp-route-id="@Model.PostId" method="post">
			<input type="submit" value="Delete" />
		</form>
		<form asp-controller="Post" asp-action="Edit" asp-route-id="@Model.PostId" method="post">
			<input type="submit" value="Edit" />
		</form>
	}

	<h4>Comments</h4>
	@if (Model.Comments.Count == 0)
	{
		<p>
			<i>No comments.</i>
		</p>
	}
	else
	{
		<ul>
			@foreach (var comment in Model.Comments)
			{
				<li class="margin12">
					@if (Context.Session.GetString("LoggedUser") == comment.UserName)
					{
						<a asp-controller="Comment" asp-action="EditComment" asp-route-id="@comment.Id" asp-route-content="@comment.CommentContent" class="btn btn-primary">Edit</a>
					}

					<strong>@comment.UserName:</strong> @comment.CommentContent
				</li>

				@*<li class="margin12">
					<strong>@comment.UserName:</strong> @comment.CommentContent
				</li>*@
			}
		</ul>
	}

	@if (isAuthenticated)
	{
		<a asp-controller="Comment" asp-action="CommentForm" asp-route-id="@Model.PostId" class="btn btn-primary">Add Comment</a>
	}
</div>