@model ForumSystemDTO.ViewModels.PostViewModels.PostDetailsViewModel;

@{
	bool isAuthenticated = !string.IsNullOrEmpty(Context.Session.GetString("LoggedUser"));
	bool isLoggedUserPost = Context.Session.GetInt32("userId") == Model.User.Id;
	int? loggedUserId = Context.Session.GetInt32("userId");
	bool isAdmin = this.Context.Session.GetInt32("roleId") == 3;
	bool loggedUserLikedPost = this.Model.Likes.Any(l => l.UserId == loggedUserId && l.IsDislike == false && l.IsDeleted == false);
	bool loggedUserDislikedPost = this.Model.Likes.Any(l => l.UserId == loggedUserId && l.IsDislike == true && l.IsDeleted == false);

	//bool loggedUserLikedComment = this.Model.Comments.Any(c => c.Likes.Any(l => l.UserId == loggedUserId && l.IsDislike == false && l.IsDeleted == false));
	//bool loggedUserDislikedComment = this.Model.Comments.Any(c => c.Likes.Any(l => l.UserId == loggedUserId && l.IsDislike == true && l.IsDeleted == false));

	//bool loggedUserDislikedComment = this.Model.Likes.Any(l => l.UserId == loggedUserId && l.IsDislike == true && l.IsDeleted == false);
	//TODO: Проверка за блокиран.
}

<div id="post-details-body">
	<div id="post-comments-container">
		<div class="post-card">
			<div class="post-ratings">
				<!-- #region Likes and Dislikes -->
				@if (loggedUserLikedPost == false && loggedUserDislikedPost == false)
				{
					<a asp-controller="Post" asp-action="LikePost" asp-route-id="@Model.Id">
						<div class="image-box">
							<img class="post-rating-icon" src="~/images/ratingicons/likeicon.png" />

							<div class="hover-img">
								<img class="post-rating-icon" src="~/images/ratingicons/likeicongreen.png" class="hover-img-3" />
							</div>
						</div>
					</a>
					<span>@Model.LikesCount</span>

					<a asp-controller="Post" asp-action="DislikePost" asp-route-id="@Model.Id">
						<div class="image-box">
							<img class="post-rating-icon" src="~/images/ratingicons/dislikeicon.png" />

							<div class="hover-img">
								<img class="post-rating-icon" src="~/images/ratingicons/dislikeicongreen.png" class="hover-img-3" />
							</div>
						</div>
					</a>
					<span>@Model.DislikesCount</span>
				}
				else if (loggedUserLikedPost == true)
				{
					<a asp-controller="Post" asp-action="LikePost" asp-route-id="@Model.Id">
						<div class="image-box">
							<img class="post-rating-icon" src="~/images/ratingicons/likeicongreen.png" />
						</div>
					</a>
					<span>@Model.LikesCount</span>

					<a asp-controller="Post" asp-action="DislikePost" asp-route-id="@Model.Id">
						<div class="image-box">
							<img class="post-rating-icon" src="~/images/ratingicons/dislikeicon.png" />

							<div class="hover-img">
								<img class="post-rating-icon" src="~/images/ratingicons/dislikeicongreen.png" class="hover-img-3" />
							</div>
						</div>
					</a>
					<span>@Model.DislikesCount</span>
					@*                <p><a style="color:lawngreen" asp-controller="Post" asp-action="LikePost" asp-route-id="@Model.Id">Likes: @Model.LikesCount</a></p>
				<p><a asp-controller="Post" asp-action="DislikePost" asp-route-id="@Model.Id">Dislikes: @Model.DislikesCount</a></p>*@
				}
				else if (loggedUserDislikedPost == true)
				{
					<a asp-controller="Post" asp-action="LikePost" asp-route-id="@Model.Id">
						<div class="image-box">
							<img class="post-rating-icon" src="~/images/ratingicons/likeicon.png" />

							<div class="hover-img">
								<img class="post-rating-icon" src="~/images/ratingicons/likeicongreen.png" class="hover-img-3" />
							</div>
						</div>
					</a>
					<span>@Model.LikesCount</span>

					<a asp-controller="Post" asp-action="DislikePost" asp-route-id="@Model.Id">
						<img class="post-rating-icon" src="~/images/ratingicons/dislikeicongreen.png" />
					</a>
					<span>@Model.DislikesCount</span>
					@*                <p><a asp-controller="Post" asp-action="LikePost" asp-route-id="@Model.Id">Likes: @Model.LikesCount</a></p>
				<p><a style="color:lawngreen" asp-controller="Post" asp-action="DislikePost" asp-route-id="@Model.Id">Dislikes: @Model.DislikesCount</a></p>*@
				}
				<!-- #endregion -->
			</div>
			<div class="post-card-title-content">
				<div class="post-card-title">
					@Model.Title
				</div>

				<div class="post-card-content">
					@Model.Content
				</div>

				<div class="post-card-tags">
					@if (Model.Tags != null && Model.Tags.Count > 0)
					{
						<div class="tags">
							@foreach (var tag in Model.Tags)
							{
								<a asp-controller="Tag" asp-action="TagDetails" asp-route-tagName="@tag" asp-route-postId="@Model.Id" class="tag">#@tag</a>
							}
						</div>
					}
				</div>
			</div>
			<div class="post-additional-info ">
				<div class="post-card-pfp">
					<div class="circle-2"></div>
					<img src="~/images/pfp.jpg">
				</div>
				<div class="post-card-light-text">
					Posted by:&nbsp;
				</div>
				<div class="post-card-hyperlink-text">
					<a asp-controller="User" asp-action="UserDetails" asp-route-id="@Model.User.Id">
						@Model.User.Username
					</a>
				</div>
				<div class="post-card-light-text">
					Created On: @Model.CreatedOn
				</div>
				<div class="post-comments post-card-light-text">
					<img class="post-comments-icon" src="~/images/commentIcon.png">
					<span>@Model.Comments.Count</span>
				</div>

			</div>
		</div>
		<div id="post-card-button-row">
			@if (isLoggedUserPost || isAdmin)
			{
				<div class="button-container">
					<a asp-controller="Post" asp-action="Edit" asp-route-Id="@Model.Id" class="button-normal" method="get">Edit Post</a>
				</div>
				<div class="button-container">
					<a asp-controller="Post" asp-action="DeletePost" asp-route-Id="@Model.Id" class="button-normal" method="post">Delete Post</a>
				</div>
			}
			@if (isAuthenticated)
			{
				<div class="button-container">
					<a asp-controller="Comment" asp-action="CommentForm" asp-route-id="@Model.Id" class="button-normal">Add Comment</a>
				</div>
			}
		</div>

		<div class="comment-cards-label">
			<div id="comments-cards-label-heading">Comments</div>
			@if (Model.Comments.Count == 0)
			{
				<p>
					<i>No comments.</i>
				</p>
			}
		</div>
		@if (Model.Comments.Count != 0)
		{
			<ul class="comments-list">
				@foreach (var comment in Model.Comments)
				{
					bool loggedUserLikedComment = comment.Likes.Any(l => l.UserId == loggedUserId && l.IsDislike == false && l.IsDeleted == false); 
					bool loggedUserDislikedComment = comment.Likes.Any(l => l.UserId == loggedUserId && l.IsDislike == true && l.IsDeleted == false);
					<li class="comment-card-box">
						<div class="post-card comment-card">
							<div class="post-ratings">
								<!-- #region Likes and Dislikes -->
								@if (loggedUserLikedComment == false && loggedUserDislikedComment == false)
								{
									<a asp-controller="Comment" asp-action="LikeComment" asp-route-id="@comment.Id">
										<div class="image-box">
											<img class="post-rating-icon" src="~/images/ratingicons/likeicon.png" />

											<div class="hover-img">
												<img class="post-rating-icon" src="~/images/ratingicons/likeicongreen.png" class="hover-img-3" />
											</div>
										</div>
									</a>
									<span>@comment.LikesCount</span>

									<a asp-controller="Comment" asp-action="DislikeComment" asp-route-id="@comment.Id">
										<div class="image-box">
											<img class="post-rating-icon" src="~/images/ratingicons/dislikeicon.png" />

											<div class="hover-img">
												<img class="post-rating-icon" src="~/images/ratingicons/dislikeicongreen.png" class="hover-img-3" />
											</div>
										</div>
									</a>
									<span>@comment.DislikesCount</span>
								}
								else if (loggedUserLikedComment == true)
								{
									<a asp-controller="Comment" asp-action="LikeComment" asp-route-id="@comment.Id">
										<div class="image-box">
											<img class="post-rating-icon" src="~/images/ratingicons/likeicongreen.png" />
										</div>
									</a>
									<span>@comment.LikesCount</span>

									<a asp-controller="Comment" asp-action="DislikeComment" asp-route-id="@comment.Id">
										<div class="image-box">
											<img class="post-rating-icon" src="~/images/ratingicons/dislikeicon.png" />

											<div class="hover-img">
												<img class="post-rating-icon" src="~/images/ratingicons/dislikeicongreen.png" class="hover-img-3" />
											</div>
										</div>
									</a>
									<span>@comment.DislikesCount</span>
								}
								else if (loggedUserDislikedComment == true)
								{
									<a asp-controller="Comment" asp-action="LikeComment" asp-route-id="@comment.Id">
										<div class="image-box">
											<img class="post-rating-icon" src="~/images/ratingicons/likeicon.png" />

											<div class="hover-img">
												<img class="post-rating-icon" src="~/images/ratingicons/likeicongreen.png" class="hover-img-3" />
											</div>
										</div>
									</a>
									<span>@comment.LikesCount</span>

									<a asp-controller="Comment" asp-action="DislikeComment" asp-route-id="@comment.Id">
										<img class="post-rating-icon" src="~/images/ratingicons/dislikeicongreen.png" />
									</a>
									<span>@comment.DislikesCount</span>
								}
								<!-- #endregion -->
							</div>
							<div class="post-card-title-content">
								<div class="comment-card-content">
									@comment.Content
								</div>
							</div>
							<div class="post-additional-info ">
								<div class="post-card-pfp">
									<div class="circle-2"></div>
									<img src="~/images/pfp.jpg">
								</div>
								<div class="post-card-light-text">
									Posted by:&nbsp;
								</div>
								<div class="post-card-hyperlink-text">
									<a asp-controller="User" asp-action="UserDetails" asp-route-id="@comment.User.Id">
										@comment.User.Username
									</a>
								</div>
								<div class="post-card-light-text">
									Created On: @comment.CreatedOn
								</div>
							</div>
						</div>
						<div class="comment-card-button-row">
							@if (Context.Session.GetString("LoggedUser") == comment.User.Username || isAdmin)
							{
								<div class="button-container">
									<a asp-controller="Comment" asp-action="DeleteComment" asp-route-id="@comment.Id" class="button-normal">Delete</a>
								</div>
								<div class="button-container">
									<a asp-controller="Comment" asp-action="EditComment" asp-route-id="@comment.Id" class="button-normal">Edit</a>
								</div>
							}
						</div>
					</li>
				}
			</ul>
		}
	</div>
</div>